@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 228 67% 97%;
    --foreground: 231 20% 21%;
    --card: 228 67% 97%;
    --card-foreground: 231 20% 21%;
    --popover: 228 67% 97%;
    --popover-foreground: 231 20% 21%;
    --primary: 231 48% 48%;
    --primary-foreground: 228 100% 99%;
    --secondary: 228 20% 90%;
    --secondary-foreground: 231 48% 48%;
    --muted: 228 20% 90%;
    --muted-foreground: 231 15% 55%;
    --accent: 231 40% 63%;
    --accent-foreground: 228 100% 99%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 228 20% 85%;
    --input: 228 20% 85%;
    --ring: 231 48% 48%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 231 20% 11%;
    --foreground: 228 67% 97%;
    --card: 231 20% 11%;
    --card-foreground: 228 67% 97%;
    --popover: 231 20% 11%;
    --popover-foreground: 228 67% 97%;
    --primary: 231 48% 48%;
    --primary-foreground: 228 100% 99%;
    --secondary: 231 20% 21%;
    --secondary-foreground: 228 67% 97%;
    --muted: 231 20% 21%;
    --muted-foreground: 231 15% 65%;
    --accent: 231 40% 63%;
    --accent-foreground: 228 100% 99%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 20% 21%;
    --input: 231 20% 21%;
    --ring: 231 48% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .bg-background-blur {
    @apply bg-background/80 backdrop-blur-lg;
  }
}
