
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    match /users/{userId} {
      allow get: if isSignedIn();
      allow list: if false; // Do not allow querying of all users
      allow create: if isOwner(userId);
      allow update, delete: if false; // Profile updates/deletes not implemented
    }
    
    match /users/{userId}/bookmarks/{postId} {
      // Allow user to manage their own bookmarks
      allow list, get, create, delete: if isOwner(userId);
      allow update: if false;
    }

    match /posts/{postId} {
      allow get, list: if isSignedIn();
      allow create: if isSignedIn() && (isNewTextPost() || isNewPollPost());
      allow delete: if isSignedIn() && isOwner(resource.data.authorId);
      allow update: if isSignedIn() && (
          // Allow editing post content
          (isOwner(resource.data.authorId) && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['content', 'commentsAllowed'])) ||
          // Allow liking/unliking a post
          (request.resource.data.diff(resource.data).affectedKeys().hasOnly(['likes', 'likeCount'])) ||
           // Allow updating comment count
          (request.resource.data.diff(resource.data).affectedKeys().hasOnly(['commentCount'])) ||
          // Allow voting on a poll
          isVoting(request, resource)
      );
    }
    
    // Function to validate a new text post
    function isNewTextPost() {
      let data = request.resource.data;
      return data.type == 'text'
        && data.authorId == request.auth.uid
        && data.id == request.id
        && data.content is string && data.content.size() > 0 && data.content.size() <= 280
        && data.likeCount == 0
        && data.commentCount == 0
        && data.commentsAllowed is bool
        && data.likes is list && data.likes.size() == 0
        && data.keys().hasAll(['id', 'authorId', 'content', 'timestamp', 'likes', 'likeCount', 'commentCount', 'commentsAllowed', 'type']);
    }

    // Function to validate a new poll post
    function isNewPollPost() {
        let data = request.resource.data;
        return data.type == 'poll'
            && data.authorId == request.auth.uid
            && data.id == request.id
            && data.content is string && data.content.size() > 0 && data.content.size() <= 280
            && data.likeCount == 0
            && data.commentCount == 0
            && data.commentsAllowed is bool
            && data.likes is list && data.likes.size() == 0
            && data.pollOptions is list && data.pollOptions.size() >= 2 && data.pollOptions.size() <= 4
            && data.pollOptions[0].keys().hasAll(['option', 'votes']) && data.pollOptions[0].votes == 0
            && data.voters is map && data.voters.size() == 0
            && data.keys().hasAll(['id', 'authorId', 'content', 'timestamp', 'likes', 'likeCount', 'commentCount', 'commentsAllowed', 'type', 'pollOptions', 'voters']);
    }

    // Function to validate a poll vote
    function isVoting(req, res) {
      let userVote = req.resource.data.voters[req.auth.uid];
      let hasVoted = res.data.voters.keys().hasAny([req.auth.uid]);
      // Check that only pollOptions and voters are being updated
      return req.resource.data.diff(res.data).affectedKeys().hasAll(['pollOptions', 'voters'])
        // Ensure user hasn't voted before
        && !hasVoted
        // Ensure the vote is valid
        && req.resource.data.pollOptions[userVote].votes == res.data.pollOptions[userVote].votes + 1;
    }


    match /posts/{postId}/comments/{commentId} {
      allow read: if isSignedIn();
      allow create: if isSignedIn() && isValidNewComment(postId, commentId);
      allow delete: if isSignedIn() && (isOwner(resource.data.authorId) || isOwner(get(/databases/$(database)/documents/posts/$(postId)).data.authorId));
    }

    function isValidNewComment(postId, commentId) {
        let data = request.resource.data;
        let post = get(/databases/$(database)/documents/posts/$(postId)).data;
        return post.commentsAllowed == true
            && data.authorId == request.auth.uid && data.postId == postId
            && data.content is string && data.content.size() > 0
            && data.id == commentId
            && data.keys().hasOnly(['id', 'postId', 'authorId', 'content', 'timestamp']);
    }
  }
}
